<div class="accordions-container row" *ngIf="vm$ | async as vm">
  <div class="accordion-container col-md-12 col-lg-3 col-xxxl-3">
    <nb-card>
      <nb-card-header>Zdjęcie</nb-card-header>
      <nb-card-body>
        <img [src]="'assets/images/' + (vm.photo ?? 'nophoto.png')" />
      </nb-card-body>
    </nb-card>
  </div>

  <div class="accordion-container col-md-12 col-lg-6 col-xxxl-6">
    <nb-card>
      <nb-card-header>Dane osobowe</nb-card-header>
      <nb-card-body>
        <div>
          <strong>Imie:</strong> {{vm.firstName}}
        </div>
        <div>
          <strong>Nazwisko:</strong> {{vm.lastName}}
        </div>
        <div>
          <strong>Numer ubezpieczenia:</strong> {{vm.ssn}}
        </div>
        <div>
          <strong>Płeć:</strong> {{vm.gender}}
        </div>
        <div>
          <strong>Data urodzenia:</strong> {{ vm.birthdate }}
        </div>
      </nb-card-body>
    </nb-card>

    <nb-accordion multi>
      <nb-accordion-item>
        <nb-accordion-item-header>
          Dane adresowe
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <div>
            <strong>Ulica:</strong> {{vm.address}}
          </div>
          <div>
            <strong>Miasto:</strong> {{vm.city}}
          </div>
        </nb-accordion-item-body>
      </nb-accordion-item>

      <nb-accordion-item>
        <nb-accordion-item-header>
          Dane kontaktowe
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <div>
            <strong>Numer telefonu:</strong> {{vm.phone}}
          </div>
          <div>
            <strong>Email:</strong> {{vm.email}}
          </div>
          
        </nb-accordion-item-body>
      </nb-accordion-item>
      <nb-accordion-item>
        <nb-accordion-item-header>
          Odcisk palca
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <img class="print" [src]="'assets/images/' + (vm.print ?? 'p0') + '.png'">
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </div>

  <div class="accordion-container col-md-12 col-lg-12 col-xxxl-12">
    <nb-accordion multi>
      <nb-accordion-item>
        <nb-accordion-item-header>
          Kartoteka policyjna
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          {{ vm.info ?? 'Brak postępowań' }}
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </div>
</div>
