@import '../../../@theme/styles/themes';

@include nb-install-component() {
  .accordion-container:first-child {
    margin-bottom: nb-theme(card-margin-bottom);
  }
}

img {
  width: 100%;
}

.print {
  max-width: 200px;
}